In [8]:
import pandas as pd
df=pd.read_csv('/Users/nakau/pywork/Pokemon.csv',encoding='utf-8',index_col=0)
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [14]:
import seaborn as sns
sns.lmplot(x='Attack',y='Defense',data=df)

AttributeError: module 'seaborn' has no attribute 'lmplot'